.bb-image-wrapper {
	 height: 110px;
	 width: 110px;
	 border-radius: 6px;
	 position:absolute;
	 right:0%;
	 top:0%
	 display: flex;
	 align-items: center;
	 text-align: center;
	 line-height: 1.6;
}
 .bb-image-wrapper img {
	 height: auto;
	 max-width: 100%;
}
 .bb-shine::before {
	 background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
	 background-repeat:no-repeat;
	 background-size:cover;
	 content: "";
	 display: block;
	 height: 110px;
	 width: 110px;
	 background-position: -110px -110px;
	 position: absolute;
	 blend-mode:lighten;
	 top: 0;
	 z-index: 2;
	 mask-image: url("https://i.imgur.com/ZjK1Iyi.png");
	 mask-size: 110px 110px;
}
 .bb-shine:hover::before, .bb-shine:focus::before {
	 animation: bb-shine 0.85s;
}
.bb-image-wrapper:hover{
	animation: .5s linear 0.85s infinite alternate bb-jello-vertical;
}
 @keyframes bb-shine {
	 100% {
		 background-position: 220px 220px;
	}
}
 @keyframes bb-jello-vertical {
  16.65% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }
  33.3% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  49.95% {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  66.6% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  83.25% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}